.heading{
	align:center;
}
h3{
	letter-spacing: 10px;
	color:#66bfbf;
	margin-left:3%;
	margin-top:4%;
	margin-bottom:3%;
	text-transform: uppercase;
	font-family: 'Cormorant Garamond', serif;
}

body{
	background-color:#f5efef;
	border: 4px gray solid;
	color :black;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	margin-bottom:20%;
	font-family:raleway;
	max-width:90%;
	width:80%;

}

h1{
 margin-left:3%;
 margin-bottom: 3%;
 text-transform: capitalize;
 color:#133b5c;
 font-size: 3rem;
}

p{
margin:3%;
font-family: 'Montserrat', sans-serif;
font-size: 2rem;;

}

.first{
	border-left:solid 3px gray;
	padding:3%;
	font-size: 1.3rem;
}

hr{
	border-top: 5px dotted grey;
	  width:10%;
}

.ingredient,tr,td{
	/* border:2px solid black;
	margin:auto; */

}
.level
{
	font-size: 3rem;
}
.btn-group
{
	padding-left: 2%;
	margin-bottom: 6%;
	position: relative;
	bottom: 7%;

}
.recepies
{
	margin-left: 2%;
}
.dropdown-item
{
	line-height: 2;
	margin: auto;
	font-size: 1.3rem;

}
.dropdown-item:hover
{
	color:red;
	background-color: #f4f6ff;
}
.images1
{
	width: 70%;
	position: relative;
	left: 14%;
	bottom: 12%;
}
.images2
{
	width: 70%;
	position: relative;
	bottom: 14%;
	left: 15%;

}
.images3
{
	width: 60%;
	position: relative;
	top: 12%;
	left: 17%;
	padding-bottom: 7%;

}
.images4
{
	width: 60%;
	position: relative;
	top: 8%;
	left: 17%;
	padding-bottom: 7%;
}
